<launch>

    <arg name="sim" default="false"/> <!-- Pass "true" if wants to run kinova arms in Gazebo -->

    <arg name="config" default="$(find ur_modern_driver)/config/procman/ur10.pmd"/>
    
    <node name="procman" pkg="procman_ros" type="sheriff" output="screen" args=" -l $(arg config)"/>

</launch>
